.fa-analytics .text
{
  visibility: hidden;
  background-color: darkgrey;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;

  position: absolute;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.fa-analytics:hover .text
{
  visibility: visible;
}

