.precis {
  padding-right: 30px; font-weight: normal; font-size: 16px; word-wrap:break-word; max-width: 300px;
}

.precis2 {
  padding-right: 30px; font-weight: normal; font-size: 12px; word-wrap:break-word; max-width: 300px;
}
.deceased{
  color:red;
}
