<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i style="margin-right: 20px" class="fad fa-user-injured"></i>
    </div>
    <mat-card-title>
      <div>
       <span [ngClass]="{'deceased': dod != null}">{{name}}</span>
      <span class="precis">Age: {{age}}</span>
      <span class="precis">Gender: {{gender}}</span>
      <span class="precis">NHS: {{nhsNumber}}</span>
      <span class="precis">Born: {{dob}}</span>
      </div>
    </mat-card-title>
    <mat-card-subtitle>
      <div class="patient-row">
        <div class="patient-column"><b>{{address}}</b></div>
        <div class="patient-column">Usual GP: <b>{{usual_gp}}</b></div>
        <div class="patient-column">Organisation: <b>{{organisation}}</b></div>
        <div class="patient-column">Registration status: <b>{{registration}}</b></div>
      </div>
    </mat-card-subtitle>
    <mat-card-actions>
      <button mat-raised-button (click)="swapPatient()">Swap patient</button>
    </mat-card-actions>
  </mat-card-header>
</mat-card>

