<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i style="margin-right: 20px" class="fad fa-user-injured"></i>
    </div>
    <mat-card-title>
      <table>
        <tr>
          <td class="precis" [ngClass]="{'deceased': dod != null}"><b>{{name}}</b></td>
          <td class="precis">Gender: <b>{{gender}}</b></td>
          <td class="precis">NHS: <b>{{nhsNumber}}</b></td>
          <td class="precis">Born: <b>{{dob}} ({{age}})</b></td>
        </tr>
        <tr>
          <td class="precis2"><b>{{address}}</b></td>
          <td class="precis2">Usual GP: <b>{{usual_gp}}</b></td>
          <td class="precis2">Organisation: <b>{{organisation}}</b></td>
          <td class="precis2">Registration status: <b>{{registration}}</b></td>

        </tr>
      </table>
    </mat-card-title>
    <mat-card-actions>
      <button mat-flat-button color="accent" (click)="swapPatient()">Swap patient</button>
      <button mat-button color="accent" (click)="clearPatient()">Clear patient</button>
    </mat-card-actions>
  </mat-card-header>
</mat-card>

