 <div mat-dialog-title>
    Health status value trend chart over time
 </div>

  <div style="font-size: 14px">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Date from</mat-label>
        <input matInput [matDatepicker]="picker1" placeholder="Date from" [(ngModel)]="dateFrom" (dateChange)="refresh()">
        <mat-datepicker-toggle matSuffix [for]="picker1">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field style="margin-left: 10px" class="example-full-width" appearance="outline">
        <mat-label>Date to</mat-label>
        <input matInput [matDatepicker]="picker2" placeholder="Date to" [(ngModel)]="dateTo" (dateChange)="refresh()">
        <mat-datepicker-toggle matSuffix [for]="picker2">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <mat-form-field style="margin-left: 10px" class="example-full-width" appearance="outline">
        <mat-label>Select series</mat-label>
        <mat-select [formControl]="results" multiple [(value)]="selected">
          <mat-option (click)="refresh()" *ngFor="let result of resultList" [value]="result">{{result}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-checkbox class="checkbox" [(ngModel)]="showGridLines">Show gridlines</mat-checkbox>
      <mat-checkbox class="checkbox" [(ngModel)]="showAreaChart">Show area chart</mat-checkbox>
      <mat-checkbox class="checkbox" [(ngModel)]="gradient">Gradient fill</mat-checkbox>
      <mat-checkbox class="checkbox" (click)="refresh()" [(ngModel)]="logarithmic">Logarithmic</mat-checkbox>
    </div>

   <br/>

    <div *ngIf="showLineCharts">
      <div *ngIf="!showAreaChart" class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
        <ngx-charts-line-chart
          [view]="view"
          [scheme]="colorScheme"
          [legend]="legend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [animations]="animations"
          [showGridLines]="showGridLines"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [timeline]="timeline"
          [results]="chartResults"
          [legendPosition]="legendPosition"
          [gradient]="gradient"
          [xAxisTickFormatting]="formatXAxis"
          [yAxisTickFormatting]="formatYAxis"
          (select)="onSelect($event)"
        >
          <ng-template #tooltipTemplate let-model="model">
            <span class="tooltip-label">{{formatXAxis(model.name)}} •  {{model.series}} • {{formatTooltipYAxis(model.value)}}</span>
          </ng-template>
          <ng-template #seriesTooltipTemplate let-model="model">
            <span class="tooltip-label" *ngFor="let series of model">
            <span class="tooltip-label">{{formatXAxis(series.name)}} •  {{series.series}} • {{formatTooltipYAxis(series.value)}}</span>
            </span>
          </ng-template>
        </ngx-charts-line-chart>
      </div>

      <div *ngIf="showAreaChart" class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
        <ngx-charts-area-chart
          [view]="view"
          [scheme]="colorScheme"
          [legend]="legend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [animations]="animations"
          [showGridLines]="showGridLines"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [timeline]="timeline"
          [results]="chartResults"
          [legendPosition]="legendPosition"
          [gradient]="gradient"
          [xAxisTickFormatting]="formatXAxis"
          [yAxisTickFormatting]="formatYAxis"
          (select)="onSelect($event)"
        >
          <ng-template #tooltipTemplate let-model="model">
            <span class="tooltip-label">{{formatXAxis(model.name)}} •  {{model.series}} • {{formatTooltipYAxis(model.value)}}</span>
          </ng-template>
          <ng-template #seriesTooltipTemplate let-model="model">
            <span class="tooltip-label" *ngFor="let series of model">
            <span class="tooltip-label">{{formatXAxis(series.name)}} •  {{series.series}} • {{formatTooltipYAxis(series.value)}}</span>
            </span>
          </ng-template>
        </ngx-charts-area-chart>
      </div>
    </div>

 <div mat-dialog-actions align="end">
   <button style="margin-right: 60px" mat-flat-button color="accent" (click)="onCancelClick()">Close</button>
 </div>
