<mat-card>
  <app-precis>
  </app-precis>
  <mat-card-header class="header2">
    <div mat-card-avatar>
      <mat-icon>bar_chart</mat-icon>
    </div>
    <mat-card-title>Patient Investigations and Tests</mat-card-title>
    <mat-card-subtitle>Investigations and tests information for the patient.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">

      <img [src]="imagePath" height="700" width="1000">
    </div>

  </mat-card-content>
</mat-card>



