<mat-card>
  <app-precis (patientChange)="loadPatient();">
  </app-precis>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="fad fa-home-alt"></i>
    </div>
    <mat-card-title>Patient demographics</mat-card-title>
    <mat-card-subtitle>Full demographic information for the selected patient.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start">
      <div class="demographics">
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" [(ngModel)]="name" readonly="readonly">
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
      </div>
      <div class="demographics" style="margin-left: 30px">
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Gender</mat-label>
          <input matInput placeholder="Gender" [(ngModel)]="gender" readonly="readonly">
          <mat-icon matSuffix>supervised_user_circle</mat-icon>
        </mat-form-field>
      </div>
      <br/>
      <div class="demographics" style="margin-left: 30px">
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Date of birth</mat-label>
          <input matInput placeholder="Date of birth" [(ngModel)]="dob" readonly="readonly">
          <mat-icon matSuffix>today</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <br/>
    <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start">
      <div class="demographics">
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Patient ID</mat-label>
          <input matInput placeholder="Patient ID" [(ngModel)]="id" readonly="readonly">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="demographics" style="margin-left: 30px">
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>NHS number</mat-label>
          <input matInput placeholder="NHS number" [(ngModel)]="nhsNumber" readonly="readonly">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="demographics" style="margin-left: 30px">
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Current address</mat-label>
          <textarea matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="4" [(ngModel)]="address" readonly="readonly">
          </textarea>
          <mat-icon matSuffix>house</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start">
      <div class="demographics">
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Date of death</mat-label>
          <input matInput placeholder="Date of death" [(ngModel)]="dod" readonly="readonly">
          <mat-icon matSuffix>today</mat-icon>
        </mat-form-field>
      </div>
      <div class="demographics" style="margin-left: 30px">
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Mobile</mat-label>
          <input matInput placeholder="Mobile" [(ngModel)]="mobile" readonly="readonly">
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
      </div>
      <div class="demographics" style="margin-left: 30px">
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Usual GP</mat-label>
          <input matInput placeholder="Usual GP" [(ngModel)]="usualgp" readonly="readonly">
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <br/>
    <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start">
      <div class="demographics">
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Registered organisation</mat-label>
          <input matInput placeholder="Registered organisation" [(ngModel)]="orgname" readonly="readonly">
          <mat-icon matSuffix>business</mat-icon>
        </mat-form-field>
      </div>
      <div class="demographics" style="margin-left: 30px">
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Registration date</mat-label>
          <input matInput placeholder="Registration date" [(ngModel)]="startdate" readonly="readonly">
          <mat-icon matSuffix>today</mat-icon>
        </mat-form-field>
      </div>
      <div class="demographics" style="margin-left: 30px">
        <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>Registration status</mat-label>
          <input matInput placeholder="Registration status" [(ngModel)]="regtype" readonly="readonly">
          <mat-icon matSuffix>today</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>



